.example-card {
  max-width: 350px;
  
 margin-left: 800px;
 margin-top: -520px;
 background-color: rgb(115, 194, 115);
 border-radius: 30px;
 
}

h2{
  margin-left: 145px;
  color: black;
}


h1{
  font-family: 'Fuzzy Bubbles', cursive;
  font-size: 48px;
}
li{
  font-family: 'Fuzzy Bubbles', cursive;
  font-size: 25px;
}
html, body {
    margin: 0;
    height: 100%;
   overflow: auto;
   width: 100%;
}

.formBo{
  width: 70%;
}

.toolbar{
  background-color: rgb(149, 216, 155);
}
  /* Full-width inputs */
input[type=text], input[type=password] {
  width: 110%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-left: -10px;
  border-radius: 40px;
}
  
  /* Set a style for all buttons */
button {
  text-align: center;
  background-color: #04AA6D;
  color: white;
  padding: 10px 10px;
  margin: 8px 0;
  border: none;
  width: 40%;
  margin-left: 25px;
  border-radius: 40px;
}
  
/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}
  
/* Extra style for the cancel button (red) */
.cancelbtn {
  width: 10%;
  background-color: #f44336;
}
  
/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}
/* Avatar image */
img.avatar {
  width: 25%;
  border-radius: 50%;
  margin-right: -2%;
}

/* Add padding to containers */
.container {
  padding: 16px;
}
.tcl{
    color:black;
}

  

  /* The "Forgot password" text */
  span.psw {
    float: right;
    padding-top: 16px;
    
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }

  }